.App {
  text-align: center;
}

div {
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

p {
  font-size: 1rem;
}

select {
  padding: 10px 5px;
  text-align: center;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid;
  border-color: deepskyblue;
  cursor: pointer;
}

textarea {
  border-radius: 15px;
  border: 1px solid deepskyblue;
  padding: 10px;
  font-size: 1rem;
}

.output {
  display: flex;
  flex-direction: column;
}

button {
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid deepskyblue;
  cursor: pointer;
}